/* for the sequential rendering of the headline letters */
.space {
  display: inline-block;
  width: 0.25em;
}

/* hover effect for the a links in the navbar */
.hover-underline a {
  position: relative;
  text-decoration: none;
}
.hover-underline a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: black;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.hover-underline a:hover::after {
  transform: scaleX(1);
}
.active-underline a::after {
  transform: scaleX(1);
}

/* locks the lamp container in place */
.lampContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

/* styles.css or a new CSS file */
.tag button {
  font-weight: bold;
  font-size: 2rem;
  color: black;
  position: absolute;
  transition: transform 0.3s ease;
}

.tag button:hover {
  transform: scale(1.2) rotate(0deg);
}

/* classes for the the lamptoggle on and off */
body {
  transition: background-color 0.5s ease, overflow 0.5s ease;
}
body.lamp-off {
  background-color: rgba(0, 0, 0, 1);
 
}

/* toggle class for the tags */
.tags {
  opacity: 0;
  transition: opacity  2s ease-in-out;
}

.tagsVisible {
  opacity: 1;

}

/* for the toggle of the scrollbar */
.page-container {
  overflow: hidden;
}


/* for the toggle of the navbar animation */
.navbar-animate {
  animation: disseminate 1s linear;
}

@keyframes disseminate {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

